.aside {
    width: 300px;
    /* background-color: white; */
    background-color: black;
    height: 100vh;
    padding: 20px;
    color: white;
}
.logo {
    font-size: 24px;
    font-weight: 900;
    color: var(--color-primary-700);
    margin-bottom: 50px;
}
.sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.sidebar-list li {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}
.sidebar-list li i {
    margin-right: 20px;
}
.sidebar-list li:hover {
    background-color: rgba(255, 255, 255, 0.651);
    color: black;
}
.sidebar-list li:active {
    background-color: white;
    color: black;
}
.sidebar-list li.active {
    background-color: white;
    color: black;
}

.containers {
    width: calc(100% - 300px);
    height: 100vh;
    background-color: var(--color-primary-50);
}

.nav {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.Search {
    height: 40px;
    width: 350px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid var(--color-border);
}

.box {
    width: 40px;
    height: 40px;
    border-radius: 16px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    color: white;
}
.box:active {
    transform: scale(0.95);
}

.acc {
    width: 200px;
    height: 40px;
    border-radius: 16px;
    background-color: black;
    display: flex;
    color: white;
    align-items: center;
}
.acc .img {
    width: 35px;
    height: 35px;
    border-radius: 12px;
    overflow: hidden;
    margin-left: 5px;
}
.acc .img img {
    width: 100%;
}
.show-acc {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.show-acc i {
    font-size: 12px;
    cursor: pointer;
}
.show-acc:hover {
    background-color: var(--color-primary-200);
}

.content {
    width: 100%;
    height: calc(100vh - 70px);
    overflow: auto;
}