.login-card {
    border-radius: var(--modal-radius);
    box-shadow: var(--shadow-card);
}

.login-btn{
    background-color: black;
    width: 100%;
    color: white;
    font-weight: 550;
    border-radius: 12px;
}

.email-text {
    user-select: none;
    cursor: pointer;
    transition: all 0.2s ease;
}
.email-text:active{
    transform: scale(0.9);
}

form {
    flex-direction: column;
}

.inputs, .description{
    border: 1px solid var(--color-border);
    border-radius: var(--button-radius);
    width: 100%;
    padding: 8px 15px 8px 15px;
}
.inputs:focus {
  outline: 2px solid blue;
}
