.main {
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-card {
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: alert 2s ease forwards;
}

.icon {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 128, 0, 0.395);
}
.icon i {
    font-size: 24px !important;
    color: green;
}

@keyframes alert {
    0% {
        transform: scale(0);
    }
    10% {
        transform: scale(1);
    }
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}